/*.box{
	border:1px solid red;

}*/

nav{
		font-family:'Staatliches',cursive;
}

#main{
	font-family:  'Russo One', sans-serif;
}

.bold{
	font-weight: bolder;
}

#product_form{
	position: relative;
}

.product_btn{
	margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tt{
	display: flex;
	justify-content: space-between;
}


.recent_orders{
	overflow: auto;
	height: 100vh;
}

.order_details__table{

}


.view-details-btn{
	background: teal;
}
.not-delivered-btn{
	color:red;
	background: none;
	border:none;
	position: relative;
	cursor: pointer;
}

.not-delivered-btn::after{
	width: 110%;
	height: 120%;
	top:0;
	left: 0;
	opacity: 0;
	padding: 2px;
	text-align: center;
	border-radius: 5px;
	content: 'Delivery Now!';

	position: absolute;
	 -webkit-transition:all .2s ease;
	 transition: all .2 ease;
}

 .not-delivered-btn:hover:after{
	background: green;
	color:#fff;

	opacity: 1;
}

.order_customer_btn_col,.view-details-order_col{
	background: none;
	border:none;
	-webkit-transition:all .2s ease;
	transition: all .2 ease;
	/* color:#fff; */
}
/* #chartContainer{
	width:100%;
	height:300px;
} */
.view-details-order_col:hover{
	color:#fff !important;
	padding: 0 2px;
	background: orange;
	border-radius: 5px;
	transform:scale(1.2);
}
.order_customer_btn_col:hover{
	color:#fff;
	padding: 3px;
	background: orange;
	border-radius: 5px;
}

#modal1{
	width: 90%;
}

#customer_order_history_chart{
	width:100%;
	height:40vh;
	margin-bottom: 20px;
}

.brand-logo{
	margin-left:20px;
}

.get_chart_btn,.export_sold_quantity_btn{
	/* position: relative; */
}

#create_chart{
	margin-top:20px;
}


#chart_modal .tabs .tab a{
	 color:black;
	 font-weight: bolder;
}

.modal_sales_chart{
	height: 80vh;
	overflow: auto;
}

#allshop_pos_sale_chart,#shop_weekly_sale_chart{
	height: 50vh;
	width:100%;
	margin-top:10px 0;
}

#export_topSale_csv{
	height: 500px !important;
}

#rep_option{
	margin:20px;
}


.rep_edit_btns{
		vertical-align:middle;
}

.rep_edit_btns_each,.send_action_btn{
	margin-left: 5px;

}

.loading-effect{
	transform: translateY(20px);
}

.bolder{
	font-weight: bolder;
}

.missing-block{
	margin-top: 150px;
}

#missing_form{
	overflow: auto;
}

.datetime{
	display: flex;
	flex-direction: column;
}

#replishmentLists .send_qty{
	width:50%;
	/* border:1px inset grey; */
}
#replishmentLists tbody tr:hover{
	background-color: #E4E5E5;
}

.pre-loader{
  position: absolute;
  margin: auto;
  top: 50vh;
  bottom: 50vh;
  left: 0;
  right: 0;

}

.filter-action{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.filter-action input::placeholder{
	text-align: center;
}
#stockTake_HQ .searchable::placeholder{
	color:;
	text-align:center;
	font-weight: bold;
	font-size: 1.7rem;

}

#stockTake_HQ .searchable{
	font-size: 2.2rem;
}

#stockTake_HQ .input_qty{
	font-size:1.2rem;
	text-align: center;
}
.tabulator .tabulator-header .tabulator-col {
    text-align:center;
}

.nav_sub_header{
	display: block;
	font-size: 1.3rem;
}

.regular_list_action .filter{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.regular_list_action input::placeholder,.mystocktake_filter input::placeholder{
	text-align: center;
}

.add_missingfromList{
	transform: translate(-20px,20%);
}

.device_storage option{
	color:red !important;
}

#checking_device_step .tab a{
	color:black;
}

#main .tabs .indicator{
	background-color:#757575;
}


/*===pre loader===*/

.lds-spinner {
  color: official;
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  left:50%;
  top:50%;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: blue;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
